.movie-details {
  --text-color: rgba(255, 255, 255, 0.87);
  position: fixed;
  width: 100vw;
  height: calc(100vh - 6rem);
  max-width: 100vw;
  max-height: calc(100vh - 6rem);
  background-color: var(--card-bg-color);
  border-color: var(--card-bg-color);
  border: none;
  outline: none;
  color: var(--text-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  overflow-y: auto;
}
@media(max-width: 60rem) {
  .movie-details {
    height: calc(100vh - 10rem);
    max-height: calc(100vh - 10rem);
  }
}

.details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, .5);
  background-blend-mode: screen;
}

.details .close-button {
  position: sticky;
  top: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, .75);
  margin: 0 1rem 1rem 0;
}

.details .details-content {
  box-sizing: border-box;
  padding: .5rem 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: 25rem 1fr 1fr;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
@media(max-width: 72rem) {
  .details .details-content {
    grid-template-columns: 25rem 1fr;
  }
  .details .credits {
    grid-column: span 2;
  }
}
@media(max-width: 48rem) {
  .details .details-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.details .movie-poster {
  max-width: min(25rem, 100%);
  object-fit: cover;
}
.loading {
    position: relative;
    background-color: transparent;
}
.loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(left bottom,
            right top, from(transparent),
            color-stop(rgba(255, 255, 255, 0.2)),
            to(transparent));

    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);

    /* Adding animation */
    animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

@media(max-width: 48rem) {
  .details .movie-poster {
    align-self: center;
    gap: 1rem;
  }
}

.details .details-text {
  width: 100%;
}

.details .details-text div,
.details .details-text h2 {
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .75);
  border-radius: 4px;
}

.details .details-text .movie-title {
  line-height: 1.75rem;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.details .details-text .year-and-score {
  margin: .25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details .details-text .movie-vote-average {
  box-sizing: border-box;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.details .details-text .movie-vote-average::before {
  content: "â­";
  margin-right: 0.25rem;
}
.details .details-text .movie-vote-average.green {
  background-color: var(--green-color);
}
.details .details-text .movie-vote-average.orange {
  background-color: var(--orange-color);
}
.details .details-text .movie-vote-average.red {
  background-color: var(--red-color);
}

.details .credits .crew-container h2,
.details .credits .cast-container h2 {
  align-self: center;
}

.details .credits .crew-container,
.details .credits .cast-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .75);
  border-radius: 4px;
  margin-bottom: 1rem;
}
.details .credits .crew-container div,
.details .credits .cast-container div,
.details .details-text .movie-genres {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.details .details-text .movie-genres > div {
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
  font-size: .75rem;
  font-weight: 500;
}


.details .details-text .movie-overview {
  margin-top: .5rem;
  line-height: 1.5;
}

.trailers-container,
.reviews-container,
.similar-movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .75);
  /* border-radius: 4px; */
}

.trailers-container .trailers, 
.reviews-container .reviews, 
.similar-movies-container .movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  box-sizing: border-box;
}
.reviews-container .reviews {
  justify-content: start;
}
.reviews-container .reviews a {
  color: var(--orange-color);
}

.similar-movies-container .movies .card {
  width: 100%;
  max-width: 12.5rem;
}
@media(prefers-color-scheme: light) {
  .similar-movies-container .movies .card {
    background-color: #1d1d1f;
  }
}
.similar-movies-container .movies .card .movie-poster {
  height: 20rem;
}
.similar-movies-container .movies .card .movie-genres,
.similar-movies-container .movies .card .movie-overview {
  display: none;
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes close {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(.8);
  }
}
