.movie-details-dialog {
  --text-color: rgba(255, 255, 255, 0.87);
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--card-bg-color);
  border-color: var(--card-bg-color);
  border: none;
  outline: none;
  color: var(--text-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  z-index: 100;
  transition: display .5s allow-discrete, overlay .5s allow-discrete;
  animation: close .5s forwards;
  &[open] {
    animation: open .5s forwards;
  }
}
@media(min-width:60rem) {
  .movie-details-dialog {
    border-radius: 10px;
    width: min(60rem, 100%);
    height: max-content;
    max-height: 90vh;
    margin: auto;
  }
}

.details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, .5);
  background-blend-mode: screen;
}

.details .close-button {
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, .75);
  margin: 0 1rem 1rem 0;
}

.details .details-content {
  max-width: 60rem;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
@media(max-width: 48rem) {
  .details .details-content {
    flex-direction: column;
    gap: 1rem;
  }
}

.details .movie-poster {
  height: 100%;
  max-width: min(25rem, 100%);
  object-fit: cover;
}
@media(max-width: 48rem) {
  .details .movie-poster {
    align-self: center;
    gap: 1rem;
  }
}

.details .details-text div,
.details .details-text h2 {
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .75);
  border-radius: 4px;
}

.details .details-text .movie-title {
  line-height: 1.75rem;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.details .details-text .year-and-score {
  margin: .25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details .details-text .movie-vote-average {
  box-sizing: border-box;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.details .details-text .movie-vote-average::before {
  content: "â­";
  margin-right: 0.25rem;
}
.details .details-text .movie-vote-average.green {
  background-color: var(--green-color);
}
.details .details-text .movie-vote-average.orange {
  background-color: var(--orange-color);
}
.details .details-text .movie-vote-average.red {
  background-color: var(--red-color);
}

.details .details-text .crew-container,
.details .details-text .cast-container,
.details .details-text .movie-genres {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.details .details-text .movie-genres > div {
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .25);
  font-size: .75rem;
  font-weight: 500;
}


.details .details-text .movie-overview {
  margin-top: .5rem;
  line-height: 1.5;
}

.trailers-container,
.reviews-container,
.similar-movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .75);
  /* border-radius: 4px; */
}

.trailers-container .trailers, 
.reviews-container .reviews, 
.similar-movies-container .movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  box-sizing: border-box;
}
.reviews-container .reviews {
  justify-content: start;
}
.reviews-container .reviews a {
  color: var(--orange-color);
}

.similar-movies-container .movies .card {
  width: 100%;
  max-width: 12.5rem;
}
@media(prefers-color-scheme: light) {
  .similar-movies-container .movies .card {
    background-color: #1d1d1f;
  }
}
.similar-movies-container .movies .card .movie-poster {
  height: 20rem;
}
.similar-movies-container .movies .card .movie-genres,
.similar-movies-container .movies .card .movie-overview {
  display: none;
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes close {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(.8);
  }
}
