.trailer {
  width: min(25rem, calc(100vw - 6rem));
}

.trailer iframe.video {
  border: none;
  outline: none;
  width: min(25rem, calc(100vw - 6rem));
  height: calc(min(25rem, calc(100vw - 6rem)) * 9 / 16);
}

.trailer h3 {
  text-wrap: wrap;
  width: min(25rem, calc(100vw - 6rem));
}
